<h2>Patient List{{#link-to "patients.new" class="btn btn-success pull-right"}}Add Patient{{/link-to}}</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Bed Number</th>
      <th>Patient Name</th>
      <th>MRN</th>
      <th>Body Temp</th>
      <th>Blood Pressure</th>
      <th>Heart Rate</th>
      <th>Respitory Rate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each patient in model}}
      {{#link-to 'patient' patient tagName="tr"}}
        <td>{{patient.bed_number}}</td>
        <td>{{#link-to 'patient' patient}}{{patient.last_name}}, {{patient.first_name}}{{/link-to}}</td>
        <td>{{patient.mrn}}</td>
        <td>{{patient.last_vital.body_temp}}</td>
        <td>{{#if patient.last_vital}}{{patient.last_vital.blood_pressure_systolic}}/{{patient.last_vital.blood_pressure_diastolic}}{{/if}}</td>
        <td>{{patient.last_vital.heart_rate_bpm}}</td>
        <td>{{patient.last_vital.respiratory_rate_bpm}}</td>
        <td>{{#link-to 'vitals.new' patient class="btn btn-success"}}+{{/link-to}}</td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>