<h2>New Patient</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label" for="first_name">First Name</label>
    <div class="col-md-3">
      {{input valueBinding="first_name" id="first_name" placeholder="First Name" required="true" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="last_name">Last Name</label>
    <div class="col-md-3">
      {{input valueBinding="last_name" id="last_name" placeholder="Last Name" required="true" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="bed_number">Bed Number</label>
    <div class="col-md-3">
      {{input valueBinding="bed_number" id="bed_number" required="false" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="mrn">MRN</label>
    <div class="col-md-3">
      {{input valueBinding="mrn" id="mrn" required="false" class="form-control"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary" {{action save this}}>Submit</button>
      <button class="btn" {{action cancel}}>Cancel</button>
    </div>
  </div>
</form>