<h2>New Patient</h2>
<form {{action save on="submit"}} class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="firstName">First Name</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="firstName" id="firstName" placeholder="First Name" required="true"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="lastName">Last Name</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="lastName" id="lastName" placeholder="Last Name" required="true"}}
    </div>
  </div>

  <div class="form-actions">
    {{submitButton "Update"}}
    <button class="btn" {{action cancel}}>Cancel</button>
  </div>
</form>