<h2>Add Vitals</h2>
<form {{action save on="submit"}} class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label" for="blood_pressure_systolic">Blood Pressure</label>
    <div class="col-md-2">
      {{input valueBinding="blood_pressure_systolic" id="blood_pressure_systolic" placeholder="Systolic" required="true" class="form-control"}}
    </div>
    <div class="col-md-2">
      {{input valueBinding="blood_pressure_diastolic" id="blood_pressure_diastolic" placeholder="Diastolic" required="true" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="body_temp">Body Temp</label>
    <div class="col-md-3">
      {{input valueBinding="body_temp" id="body_temp" placeholder="In Farenheit" required="true" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="respiratory_rate_bpm">Respiratory Rate</label>
    <div class="col-md-3">
      {{input valueBinding="respiratory_rate_bpm" id="respiratory_rate_bpm" placeholder="breaths per minute" required="true" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="heart_rate_bpm">Heart Rate</label>
    <div class="col-md-3">
      {{input valueBinding="heart_rate_bpm" id="heart_rate_bpm" placeholder="beats per minute" required="true" class="form-control"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn" {{action cancel}}>Cancel</button>
    </div>
  </div>
</form>