<h2>{{model.last_name}}, {{model.first_name}}  <button class="btn btn-primary pull-right" {{action toggleView}}>{{toggleText}}</button></h2>
{{outlet}}
{{#if graphView}}
  <h4>Body Temperature</h4>
  <div class="col-md-12">
    <canvas id="bodyTempChart" width="800px" height="300px"></canvas>
  </div>
  <h4>Blood Pressure</h4>
  <div class="col-md-12">
    <canvas id="bpChart" width="800px" height="300px"></canvas>
  </div>
  <h4>Heart Rate</h4>
  <div class="col-md-12">
    <canvas id="hrChart" width="800px" height="300px"></canvas>
  </div>
  <h4>Respiratory Rate</h4>
  <div class="col-md-12">
    <canvas id="rrChart" width="800px" height="300px"></canvas>
  </div>
{{else}}
  <h4>Dataset</h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Temperature</th>
        <th>Blood Pressure</th>
        <th>Heart Rate</th>
        <th>Respitory Rate</th>
        <th>Recorded</th>
      </tr>
    </thead>
    <tbody>
      {{#each vital in model.vitals}}
        <tr>
          <td>{{vital.body_temp}} &#176;F</td>
          <td>{{vital.blood_pressure_systolic}}/{{vital.blood_pressure_diastolic}}</td>
          <td>{{vital.heart_rate_bpm}}</td>
          <td>{{vital.respiratory_rate_bpm}}</td>
          <td>{{vital.created_at}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

