<h2>{{lastName}}, {{firstName}}  <button class="btn btn-primary pull-right" {{action toggleView}}>{{toggleText}}</button></h2>

{{#if graphView}}
  <h4>Graphs go here</h4>
{{else}}
  <h4>Dataset</h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Temperature</th>
        <th>Blood Pressure</th>
        <th>Heart Rate</th>
        <th>Respitory Rate</th>
      </tr>
    </thead>
    <tbody>
      {{#each vital in vitals}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}